services:
  postgres:
    image: postgres:14-alpine
    ports:
      - "3012:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres

  nuxt:
    build: .
    ports:
      - "3011:3000"
    depends_on:
      - postgres
    volumes:
      - ./data:/app/data
    environment:
      NUXT_SESSION_PASSWORD: osuadh89453!jhsdf43598??dsf987435879dshufdhhjbdf?sdfbhj
      NUXT_POSTGRES_URL: postgres://postgres:postgres@postgres:5432/postgres
