services:
  postgres:
    image: postgres:14-alpine
    ports:
      - "3012:5432"
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}

  handbuch:
    build: .
    ports:
      - "3011:3000"
    depends_on:
      - postgres
    volumes:
      - ./data:/app/data
    environment:
      NUXT_SESSION_PASSWORD: ${NUXT_SESSION_PASSWORD}
      NUXT_POSTGRES_URL: ${NUXT_POSTGRES_URL}
